.main {
  .content {
    &-table {
      margin-top: 16px;
      border-radius: $radius;
      border: 1px solid $border;
      box-shadow: $shadow, $shadow-double;
      display: flex;
      flex-direction: column;
      &-row {
        display: flex;
        align-items: center;
        gap: 27px;
        min-height: 72px;
        border-bottom: 1px solid $border;
        padding-left: 24px;
        padding-right: 24px;
        &:last-child {
          border-bottom: none;
        }
        &-column {
          max-width: 200px;
          flex: 1;
          &:first-child {
            font-weight: 500;
          }
          @include sm-regular;
          &-buttons {
            display: flex;
            align-items: center;
            width: 54px;
            gap: 24px;
            justify-content: space-between;
            flex: unset;
            &-edit {
              width: 16px;
              height: 16px;
              cursor: pointer;
              svg {
                fill: $secondary;
              }
            }
            &-delete {
              width: 16px;
              height: 16px;
              svg {
                fill: $secondary;
              }
              cursor: pointer;
            }
          }
        }
      }
      &-heading {
        display: flex;
        align-items: center;
        height: 44px;
        .content-table-row-column {
          font-size: 12px;
        }
      }
    }
  }
}
.click {
  background-color: #e5e5e5 !important;
  transition: all 0.4s;
}
.clicked {
  background-color: #fff !important;
  transition: all 0.4s;
}
